@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

html
{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

body
{
    font-size: 1.5rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 700;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    padding: 0;
}

button, input, optgroup, select, textarea 
{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}

.t-center
{
    text-align: center;
}

.fw-400
{
    font-weight: normal;
}

.btn
{
    padding: 0 1rem;
    border: 1px solid currentColor;
    border-radius: .4rem;
    cursor: pointer;    
}

.btn-cricle
{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 999px;
}

.divider
{
    display: block;
    width: 90%;
    height: 0.1rem;
    margin: 0 auto;
    background-image: linear-gradient( to right, transparent, white , transparent);
}

.d-flex
{
    display: flex;
}

.flex-center
{
    justify-content: center;
    align-items: center;
}

.gap-10
{
    gap: 1rem;
}
.gap-20
{
    gap: 2rem;
}
.gap-30
{
    gap: 3rem;
}

.pdl-10
{
    padding-left: 1rem;
}