// Account
.account
{
    display: flex;

    &__avatar
    {
        margin: 0;

        img
        {
            width: 6rem;
            height: 6rem;
            border-radius: 3rem;
        }
    }

    &__info
    {
        padding-left: 2rem;

        &__name
        {
            font-weight: 600;
            text-transform: uppercase;
        }

        &__link--logout
        {
            display: block;
            margin-top: 1rem;
            padding: .3rem .6rem;
            color: var(--secondary-color);
            border: 1px solid var(--secondary-color);
            border-radius: 4px;
        }
    }
}


// Menu
.main-menu
{
    margin-top: 5rem;

    ul.menu-items
    {
        a
        {
            display: flex;
            color: var(--text-color);
            opacity: .7;

            &:hover
            {
                opacity: 1;
            }
        }

        >li.menu-item
        {
            margin-bottom: 1.8rem;

            >a.menu-link
            {
                font-weight: 600;
                text-transform: uppercase;

                i
                {
                    font-size: 2.2rem;
                    margin-right: 1.2rem;
                }


            }
        }
    }

    ul.sub-menu
    {
        
        margin-left: 4rem;
    }
}


// Header Content
header#header-content
{

}

// Search
form.search
{
    max-width: 60%;
    div.search__container
    {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        background-color: var(--alpha-bg);
        border-radius: 99rem;
        
        &:focus
        {
            background-color: var(--primary-color);
        }


        button
        {
            margin: 0;
            padding: 0;
            background-color: transparent;
            outline: none;
            border: none;
            color: var(--text-color);

        }

        div.input-wrapper
        {
            flex-grow: 1;

            input
            {
                width: 100%;
                color: var(--text-color);
                outline: none;
                border: none;
                padding-left: .8rem;

                &::placeholder
                {
                    color: var(--text-color);
                }
            }
        }    
    }

    ul.suggest__list
    {
        display: none;
    }

}