:root
{
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #2C2828;
    --secondary-color: #52caef;
    --text-color: #eee;
    --divider-color: rgba(225, 225, 225, .15);
    --alpha-bg: hsla(0,0%,100%,0.1);
}