:root
{
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #2C2828;
    --secondary-color: #52caef;
    --text-color: #eee;
    --divider-color: rgba(225, 225, 225, .15);
    --alpha-bg: hsla(0,0%,100%,0.1);
    --alpha-bg-02: hsla(0,0%,100%,0.2);
    --alpha-bg-03: hsla(0,0%,100%,0.3);
    --alpha-bg-04: hsla(0,0%,100%,0.4);
    --alpha-bg-05: hsla(0,0%,100%,0.5);
}


@mixin trans {
    transition: .2s ease-in;
}